<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= process.env.APP %> | <%= article.heading%></title>
</head>
<body class="bg-zinc-50 leading-relaxed">

    <div class="container max-w-screen-md mx-auto py-10 px-4">        

        <%- include('./partials/navbar') %>

        <div class="my-20 space-y-8">

            <% if ((typeof(locals.user) != 'undefined') && locals.user.id == article.user) { %>
                <div class="relative flex justify-end text-left mb-4" onclick="toggleDropDown(this)">
                    <button type="button" class="inline-flex justify-between items-center hover:bg-zinc-50 py-2 px-4 rounded w-32 ring-1 ring-zinc-200 outline-none duration-200">
                        <span class="inline-block w-24 truncate">Actions</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-zinc-400 -mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                        </svg>                              
                    </button>
                    <div id="dropcontent" class="absolute px-2 right-0 top-12 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg hidden ring-zinc-200">
                        <div class="py-2 text-sm space-y-2">
                            <button class="block px-4 py-2 cursor-pointer bg-blue-100 text-blue-700 w-full rounded">Edit</button>
                            <button class="block px-4 py-2 cursor-pointer bg-red-100 text-red-700 w-full rounded" onclick="toggleModel('#model')">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="px-4 py-3 rounded items-center gap-2 text-red-700 bg-red-100 hidden" id="delete-notifier">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                    </svg>
                    <span>Deleting <%= article.uid %></span>
                </div>

                <div class="px-4 py-3 rounded items-center gap-2 text-green-700 bg-green-100 hidden" id="delete-notifier-success">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                    </svg>
                    <span>Deleted <%= article.uid %> Successfully. Redirecting.</span>
                </div>

            <% } %>
            
            <div class="space-y-4">
                <span class="px-3 py-1 rounded text-sm bg-indigo-600 text-white"><%= article.language %></span>
                <span class="px-3 py-1 text-sm text-zinc-500 rounded bg-white ring-1 ring-zinc-200"><%= article.clicks %> Reads</span>
                <h2 class="text-2xl font-semibold"><a href="<%= `/${article.uid}/${article.slug}` %>" class="text-zinc-800 hover:text-indigo-600 cursor-pointer"><%= article.heading %></a></h2>
                <p class="text-sm text-zinc-800">
                    <%= new Date(article.createdAt).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})  %> - 
                    <a href="" class="text-indigo-600"><%= article.fullname %></a>
                </p>
                <p class="text-zinc-600"><%= article.description %></p>
                <pre class=""><code class="language-<%= article.language %>"><%= JSON.parse(article.snippet) %></code></pre>
            </div>

        </div>

    </div>

    <% if ((typeof(locals.user) != 'undefined') && locals.user.id == article.user) { %>
        <div id="model" class="fixed inset-0 bg-black/20 hidden justify-center items-center">
            <div class="w-full md:max-w-screen-md rounded px-4 block">
                <div class="bg-white block shadow p-4 rounded">
                    <p class="text-2xl">Delete Snip</p>
                    <p class="text-zinc-500">Are you sure you want to delete <b>'<%= article.heading %>'</b>? This action can't be undone.</p>
                    <div class="mt-2 space-x-2 flex justify-end">
                        <button class="px-4 py-2 cursor-pointer bg-blue-100 text-blue-700 rounded" onclick="toggleModel('#model')">Cancel</button>
                        <button class="px-4 py-2 cursor-pointer bg-red-700 text-red-50 rounded" onclick="deleteSnip()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    

    <script src="/public/js/prism.js"></script>
    <script>
        const toggleModel = (id) => {
            const element = document.querySelector(id).classList
            if (element.contains('hidden')) {
                element.add('flex')
                element.remove('hidden')
            } else {
                element.add('hidden')
                element.remove('flex')
            }
        }
        const deleteSnip = async () => {
            toggleModel('#model')
            toggleModel('#delete-notifier')
            const response = await fetch('/api/<%= article.uid %>/<%= article.slug %>', { method: 'DELETE' })
            const data = await response.json()
            if (data.status === 'success') {
                toggleModel('#delete-notifier')
                toggleModel('#delete-notifier-success')
                setTimeout(() => {
                    window.location = '/'
                }, 1000)
            } else {
                document.querySelector('#delete-notifier')
                    .querySelector('span').innerText = "Delete <%= article.uid%> Failed! Try again later."
            }
        }
    </script>

</body>
</html>